* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --background: #fff;
    --text: #000;
    --text-green: #6c6;
    --button-bg-green: #8c8;
    --button-bg-red: #d99;
    --button-bg-gray: #bbb;
    --button-bg-warn: #fc1; /* update prompt bg */
    --button-border: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #222;
        --text: #ccc;
        --text-green: #6c6;
        --button-bg-green: #236d23;
        --button-bg-red: #733;
        --button-bg-gray: #444;
        --button-bg-warn: #483f03; /* update prompt bg */
        --button-border: #ccc;
    }
}

@font-face {
    /* https://virgil.excalidraw.com/ */
    font-family: "Virgil";
    src: url("./font/Virgil.woff2") format("woff2");
}

html {
    position: relative;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    color: var(--text);
    min-height: 100vh;
    padding: 1rem;
    margin: 0;
    font-family: "Virgil", sans-serif; /* TODO alternative fonts */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

svg {
    overflow: visible;
}

a {
    color: var(--text);
}

a:visited {
    color: var(--text);
}

button,
input,
a[href] {
    touch-action: manipulation;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}
