.workout-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 2em 0;
    font-size: 1.5rem;
    gap: 0.6em;
}

.workout-list .workout-completed {
    color: var(--text-green);
    margin-left: 0.5rem;
}
